#player {
    width: 100%;
    margin: 0;
    background-color: black;
    height: 55px;
    box-shadow: 0px -1px 2px #ffffff;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 2fr 3fr;
    align-items: center;
}

#mobilePlayer {
    display: none;
}

#playerAlbumImage {
    max-width: 50px;
    box-shadow: 0px 0px 4px #ffffff;
}


#muteButton {
    padding: 0;
    border: none;
    text-shadow: 0px 0px 5px #ffffff;
}

#volumeBar {
    padding: 0;
    align-self: center;
}


#volumeControls {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#playBackInfo {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}

#playerSongInfo {
    color: white;
    padding: 0;
}

#playerAlbumArt {
    padding: 0;
    justify-self: center;
}

#playButton {
    color: white;
    padding: 0;
    border: none;
    text-shadow: 0px 0px 5px #ffffff;
}

#currentTime {
    color: white;
}

#totalTime {
    color: white;
}

@media only screen and (max-width: 800px) {

    #player {
        display: none;
    }

    #mobilePlayer {
        width: 100%;
        margin: 0;
        background-color: black;
        height: 55px;
        box-shadow: 0px -1px 2px #ffffff;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-gap: 10px;
        align-items: center;
    }

    #volumeControls {
        display: none;
    }


    #playButton {
        margin: auto auto auto 10px;
        padding: 0;
        text-align: center;
        border: none;
    }



    #playerSongInfo {
        padding: 0;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
        justify-items: left;
        display: grid;
    }

    #playerAlbumArt {
        padding: 0 5px;
    }
    
    #playBackInfo {
        display: none;
    }


}