#searchBar {
    padding: 20px 0;
    width: 100%;
}

#innerForm {
    /* box-shadow: 0px 0px 20px #ffffff; */
    width: 100%;
}

#searchIcon {
    margin: auto 20px !important;
    text-shadow: 0px 0px 5px #ffffff;
}