#itemContainer:hover {
    background-color:#f2f4f6;
}

#searchListItem {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    cursor: pointer;
    text-align: initial;
}


#searchAlbumImage {
    max-width: 150px;
}


#searchListSongInfo {
    justify-self: left;
    justify-items: left;
    display: grid;
}

#searchListSongTime {
    text-align: right;
}

#searchListSongAlbumInfo {
    justify-self: left;
    justify-items: left;
    display: grid;
}

#searchListSongTime {
    justify-self: center;
}




@media only screen and (max-width: 800px) {

    #searchListItem {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 2px;
        align-items: center;
        cursor: pointer;
        text-align: initial;
    }
    
    #albumImageContainer {
        display: none;
    }

    #searchListSongInfo {
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }

    #songName {
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }

    #artistName {
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }


    #searchListSongTime {
        display: none;
    }

    #postButton {
        justify-self: center;
    }

    #searchListSongAlbumInfo {
        display: none;
    }

}
