@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}
