#mainHeader {
    margin: 0;
    border-radius: 0px 0px 0px 0px;
    text-shadow: 0px 0px 2px #ffffff;
    box-shadow: 0px 1px 2px #ffffff !important;
    color: #ffffff;
    height: 87px;
    background-color: black;
}

#sidebar {
    background-color: black;
}

#logbutton {
    margin: auto;
}

#homebutton {
    margin: auto;
    padding: 0 20px;
    font-size: 20px;
}

#notificationbutton {
    margin: auto;
    padding: 0 20px;
    font-size: 20px;
}

#searchbutton {
    margin: auto;
    padding: 0 20px;
    font-size: 20px;
}

#appleButton {
    margin: auto;
    padding: 8px 14px 10px;
}

#appleMusicIcon {
    width: 16px;
    margin-left: 5px;
}

#logo {
    width: 100px;
    margin-left: 5px;
}

#buttonText {
    text-shadow: 0px 0px 2px #ffffff;
    cursor: pointer;
}

#profileInfo {
    margin: auto;
}

#profileAvatar {
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 0px 5px #ffffff;
}

#headerUsername {
    margin: 2px 0 0 0;
    color: #ffffff;
    text-shadow: 0px 0px 4px #ffffff;
    cursor: pointer;
}

#closeIcon {
    font-size: 25px;
    cursor: pointer;
}

#closeButton {
    display: flex;
    border: none;
    float: left;
    padding: 13px 0;
}

#mobileHeader {
    display: none;
    box-shadow: 0px 1px 2px #ffffff !important;
}




@media only screen and (max-width: 767px) {

    #homebutton {
        margin: auto;
    }

    #notificationbutton {
        margin: auto;
    }

    #searchbutton {
        margin: auto;
    }

    #mobileHeader {
        display: flex;
        margin: 0 auto;
        text-align: center;
        border: none;
        border-radius: 0;
        height: 88px;
        background-color: black;
    }

    #mainHeader {
        display: none;
    }





    #closeButton {
        display: flex;
        border: none;
        padding: 13px 0;
        width: 100%;
        float: left;
    }

    #closeIcon {
        margin: 0 200px 0 0;
    }

    #mobileSide {
        width: 100%;
    }
    #mobile {
        width: 100%;
    }



    #mobilehomebutton {
        padding: 6px;
    }

    #mobileaboutbutton {
        padding: 6px;
    }

    #mobilesearchbutton {
        padding: 6px;
    }

    #mobileavatarbutton {
        padding: 6px;
    }

    #profileAvatar {
        margin: 0;
        font-size: 25px;
        max-width: none;
    }


    #mobilehomeIcon {
        font-size: 20px;
        
    }
    #mobileaboutIcon{
        font-size: 20px;
    }
    #mobilesearchIcon {
        font-size: 20px;
    }



}