.icon {
    height: 32px;
    width: 32px;
    background: url('../images/NEWICON.svg') 50% 50% no-repeat;
}

.apple {
    height: 32px;
    width: 32px;
    margin: 0 20px;
    background: url('../images/apple.svg') 50% 50% no-repeat;
}

.logo-text {
    background: url('../images/logo-text.svg') 50% 50% no-repeat;
    background-size: cover;
    width: 105px;
    height: 50px;
}

.tower {
    margin-left: 40px;
}

@media only screen and (max-width: 600px) {
    .tower {
        margin-left: 15px;
    }
}
