#profileImage {
    width: 100px;
    margin: 20px auto;
    box-shadow: 0px 0px 5px #ffffff;
    width: 80px;
}

#topProfileContainer {
    border-radius: 0px 0px 6px 6px;
    text-shadow: 0px 0px 2px #ffffff;
    box-shadow: 0px 1px 2px #ffffff;
}

#profileStats {
    background-color: #1b1c1d;
    padding: 20px;
}

#profileStatsText {
    color: white;
}



@media only screen and (max-width: 800px) {

    #profilePostsContainer {
        margin: 0 !important;
    }

}